body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(90deg, #FFC0CB, #87CEFA); */
    background: linear-gradient(135deg, #FFC0CB, #87CEFA);

}

.video-container {
    height: 35%;
    max-width: 640px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.video-container1 {
    height: 35%;
    max-width: 640px;
    margin-left: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

video {
    width: 100%;
    background: transparent;
}

/* .src{
    background: transparent;
} */